body{
	font-family: 'Open Sans', sans-serif;
	height: 2000px;
}
h1{
	font-family: 'Archivo Black', sans-serif;
}
.color{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #222222 0%, #3A4C24 200%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #222222 0%, #3A4C24 200%);

/* Opera */ 
background-image: -o-linear-gradient(top, #222222 0%, #3A4C24 200%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222222), color-stop(2, #3A4C24));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #222222 0%, #3A4C24 200%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #222222 0%, #3A4C24 200%);

}
/*MENU1*/
#menu1{
	/*background-color: #222;*/
	padding: 10px 20px 10px 0px;
	height: 40px;
}
#fechaMenu1{
	/*background-color: #222;*/
	padding: 0px 20px 0px 0px;
}
#menu1 div i{
	color:#73A12D; 
	margin-left: 20px;
}
#menu1 div i{
	color:#73A12D; 
	margin-left: 20px;
}
#fechaMenu1 div i{
	color:#73A12D; 
	margin-left: 20px;
}
#menu1 div ul{
	padding: 0px;
}
#menu1 div ul li{
	display: inline-block;
	margin-left: 10px;		 
}
#menu1 div ul li a{
	text-decoration:none;
	color:#73A12D; 
}
#menu1 div ul li .facebook:hover{
	color:#3b5998;
}
#menu1 div ul li .twitter:hover{
	color:#00aced;
}
#menu1 div ul li .google-plus:hover{
	color:#dd4b39;
}
#menu1 div ul li .youtube:hover{
	color:#bb0000;
}

/*reloj*/
#menu1 div div i{
	
}
#menu1 div #hora{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color:#73A12D;
	margin-left: 5px; 
	display: inline-block;

}
#menu1 div #fecha{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color:#73A12D; 
	margin-left: 5px;
	margin-right: 10px;
	display: inline-block;
}
#centralTelf{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color:#73A12D; 
	margin-left: 5px;
	display: inline-block;
}
/*fin reloj*/
/*FIN MENU1*/
/*LOGO*/
.divLogo{
	position: absolute;
	z-index: 101;
	height: 90px;
	width: 220px;
	background-color: #3A4C24;
	margin-left: 25px;
	border-radius: 0px 0px 20px 20px;
	padding: 0px 10px;	
}
.divLogo img{
	height: 80px;
}
.divLogo h1{

	font-size: 0.9em;
	color: #fff;
}
.divLogo .divH1{
	position: absolute;
	display: inline-block;
	padding: 0px 10px 0px 5px;
}

/*FIN LOGO*/
/*MENU 2*/
.navbar-fixed-bottom, .navbar-fixed-top{
	position: relative;	
}
.navbar{
	margin-bottom: 0px;
}
.navbar-inverse{
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
}

/*linea*/
.linea{
	position: relative;
	height:7px;
	background-color: #3A4C24;
	z-index: 100;
}
/*fin linea*/

/*FIN MENU2*/
/*
MENU PRINCIPAL*/
.menuprincipal{
	
	padding-top: 5px;
}
.botonMenu{
	height: 140px;
	width: 140px;
	background: #73A12D;
	margin: 5px;
}
.botonMenuDerecha{
	padding-right: 5px;
}
.botonMenuIzquierda{
	padding-left: 5px;
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
   
}



/*FIN MENU*/
/* Extra Small */
@media(max-width:480px){

.botonMenu{
	height: 80px;
	width: 80px;
	margin: 2px;
}
}
@media(max-width:767px){

}
@media(min-width:768px){

.botonMenu{
	height: 150px;
	width: 150px;
	margin: 10px;
}
}
/* Small */
@media(min-width:768px) and (max-width:991px){

}

/* Medium */
@media(min-width:992px) and (max-width:1199px){}

/* Large */
@media(min-width:1200px){}

.umm{
	height: 1000px;
	
}