body{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #222222 0%, #3A4C24 200%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #222222 0%, #3A4C24 200%);

/* Opera */ 
background-image: -o-linear-gradient(top, #222222 0%, #3A4C24 200%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222222), color-stop(2, #3A4C24));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #222222 0%, #3A4C24 200%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #222222 0%, #3A4C24 200%);
	font-family: 'Open Sans', sans-serif;
	height: 1000px;
}
/*MENU1*/
#menu1{
	/*background-color: #222;*/
	padding: 10px 20px 10px 0px;
	height: 40px;
}
#fechaMenu1{
	/*background-color: #222;*/
	padding: 0px 20px 0px 0px;
}
#menu1 div i{
	color:#73A12D; 
	margin-left: 20px;
}
#menu1 div i{
	color:#73A12D; 
	margin-left: 20px;
}
#fechaMenu1 div i{
	color:#73A12D; 
	margin-left: 20px;
}
#menu1 div ul{
	padding: 0px;
}
#menu1 div ul li{
	display: inline-block;
	margin-left: 10px;		 
}
#menu1 div ul li a{
	text-decoration:none;
	color:#73A12D; 
}
#menu1 div ul li .facebook:hover{
	color:#3b5998;
}
#menu1 div ul li .twitter:hover{
	color:#00aced;
}
#menu1 div ul li .google-plus:hover{
	color:#dd4b39;
}
#menu1 div ul li .youtube:hover{
	color:#bb0000;
}

/*reloj*/
#menu1 div div i{
	
}
#menu1 div #hora{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color:#73A12D;
	margin-left: 5px; 
	display: inline-block;

}
#menu1 div #fecha{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color:#73A12D; 
	margin-left: 5px;
	margin-right: 10px;
	display: inline-block;
}
#centralTelf{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color:#73A12D; 
	margin-left: 5px;
	display: inline-block;
}
/*fin reloj*/
/*FIN MENU1*/

/*MENU 2*/
.navbar-fixed-bottom, .navbar-fixed-top{
	position: relative;	
}
.navbar{
	margin-bottom: 0px;
}
.navbar-inverse{
	background-color: rgba(255, 255, 255, 0);
}
h1{
	color: blue;
}
/*FIN MENU2*/
/* Extra Small */
@media(max-width:767px){

}
@media(min-width:768px){

}
/* Small */
@media(min-width:768px) and (max-width:991px){

}

/* Medium */
@media(min-width:992px) and (max-width:1199px){}

/* Large */
@media(min-width:1200px){}